/* PAGE GRID */

#grid-page-continer{
    display: grid;
    grid-template-areas: "pageTitle pageTitle"
                         "mapForm map";
    grid-template-columns: 20% auto;
    text-align: center;

    margin: 0;
    padding: 0;
    background-color: #1e1d1d;
    color: rgb(228, 228, 228);
}

#page-title{
    grid-area: pageTitle;

    background-color: #454444;
    border-bottom: 2px solid white;

    width: 100%;
}

#form-section{
    grid-area: mapForm;

    background-color: rgba(0, 0, 0, 0.283);
    border-right: 3px solid white;
}

#map-section{
    grid-area: map;
}


/* FORM */

#map-form{
    text-align: left;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 255, 255, 0.721) rgba(0, 0, 0, 0.283);
    scrollbar-width: thin;

    max-height: 90vh;
}

.sectionTitle{
    text-align: center;
    font-size: 35px;
}

.map-form-area-section{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.map-input-section{
    padding-left: 5px;
    padding-bottom: 5px;
}

.input-title{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;

    font-size: 30px;
}

.input{
    color: white;
    background-color: rgba(255, 255, 255, 0.125);
    border: 1px solid white;
    width: 80%;
    font-size: 20px;

    margin-bottom: 5px;
}

.measure{
    font-size: 30px;
    margin-left: 10px;
}

#generate{
    text-align: center;
    align-items: center;
}

#submt-form-button{
    margin-bottom: 5px;
    height: 40px;
    width: 10rem;
    background-color: rgba(255, 136, 0, 0.471);
    border-radius: 20px;
    border: 2px solid rgb(197, 197, 197);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#submt-form-button:hover{
    background-color: rgba(255, 208, 0, 0.673);
    border: 2px solid rgb(255, 255, 255);
}

/* MAPA */

#map-desk{
    
}